@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

:root {
    --peach: #ffe1c6;
    --titulo: #121212;
    --principal: #C41421;
    --red:#FF0013;
    --grey:#121212;
    --borderColor: #450E14;
    --hoverColor: white;
    --white: #f9f9f9;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}