@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

:root {
    --peach: #ffe1c6;
    --orchid: #ffc6d9;
    --crayola: #fff7ae;
    --violet: #48284a;
    --mount: #916c80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yomogi', sans-serif;
    text-decoration: none;
}

header h1 {
    font-family: 'Tourney';
    color: var(--orchid);
    font-size: 2.8rem;
}

header {
    width: 100%;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.7);
    background-color: var(--violet);
}

.container {
    background-color: var(--mount);
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container form {
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
    margin-top: 2%;
    border-radius: 0.5rem;
}

.container form label {
    color: var(--violet);
    font-size: 1.4rem;
    font-weight: 600;
}

.container form input {
    border: 0;
    outline: 0;
    margin: 5% 0px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.container form input:focus {
    box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.container form button {
    cursor: pointer;
    margin-top: 5%;
    border: 0;
    outline: 0;
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--violet);
    transition: 0.3s ease-in-out;
}

.container form button:hover {
    color: var(--peach);
    background-color: var(--violet);
}

.container .result-box {
    background-color: var(--peach);
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
    color: var(--violet);
}

.container .result-box h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 5% 0%;
}

.container .result-box span {
    font-size: 1.3rem;
    font-weight: 300;
}

.container #btnRestar {
    cursor: pointer;
    border: 0;
    outline: 0;
    background: var(--orchid);
    color: var(--violet);
    padding: 1rem;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    display: none;
}

.container #btnRestar:hover {
    background: #48284a;
    color: var(--peach);
}

footer{
    color: var(--violet);
    font-size: 1rem;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
}

footer a{
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

footer a:hover{
  color:#e07c09;
}